# FOLDER DEFAULT
bin
include
lib
lib64

# FILE DEFAULT
anotacao.txt
requests.txt
*.json

# FOLDER CUSTOM
MiTM
wordlists
user-agent

# FILE CUSTOM
main.py
idor.py
functions.py
setup.py
sqli.py
# useragent.py